.fullscreen {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #2f235a, #1a1338);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 600px;
    padding: 60px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 2px solid #d6b36a;
    box-shadow: 0 0 80px rgba(214, 179, 106, 0.4);
    text-align: center;
}