body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #2f235a;
    color: white;
}

h1 {
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 40px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 220px;
    padding: 20px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    margin-bottom: 30px;
    resize: none;
}

button {
    font-size: 20px;
    font-weight: 600;
    background: #d6b36a;
    color: #2f235a;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 16px 40px;
    transition:
            opacity 0.4s ease,
            transform 0.4s ease;
}

button:hover {
    transform: scale(1.05);
}

button:disabled {
    background: rgba(214, 179, 106, 0.44);
    transform: none;
}